

.header
{
	text-align:center;
	width:100%;
	height:auto;
	background:#00a2d1;
	color:#f9f9f9;
	font-weight:bolder;
	font-family:Verdana, Geneva, sans-serif;
	font-size:35px;
	margin-top:10px;
	margin-bottom:10px;
}


.footer {
	 margin-top:50px; 
	 position:relative; 
	 bottom:50px; 
	 font-family:Verdana, Geneva, sans-serif;
	background-color:rgb(182, 206, 182);
	padding:20px;
	text-align:center;
	font-size:15px;
 }
